[submodule "ext/imgui-cs"]
	path = ext/imgui-cs
	url = https://github.com/lithiumtoast/imgui-cs
[submodule "ext/sdl-cs"]
	path = ext/sdl-cs
	url = https://github.com/lithiumtoast/sdl-cs.git
[submodule "ext/FNA3D-cs"]
	path = ext/FNA3D-cs
	url = https://github.com/lithiumtoast/FNA3D-cs.git
[submodule "ext/FAudio-cs"]
	path = ext/FAudio-cs
	url = https://github.com/lithiumtoast/FAudio-cs.git
