[submodule "ext/my-msbuild"]
	path = ext/my-msbuild
	url = https://github.com/lithiumtoast/my-msbuild.git
[submodule "ext/assetyard"]
	path = ext/assetyard
	url = https://github.com/craftworkgames/assetyard.git
[submodule "ext/imgui-cs"]
	path = ext/imgui-cs
	url = https://github.com/lithiumtoast/imgui-cs
[submodule "ext/sdl-cs"]
	path = ext/sdl-cs
	url = https://github.com/lithiumtoast/sdl-cs.git